/**
 * Nested sortable
 */

.sortable .fa {
    font-size: 18px;
}

.placeholder {
    background-color: #cfcfcf;
}

.ui-nestedSortable-error {
    background: none repeat scroll 0 0 #fbe3e4;
    color: #8a1f11;
}

ol.sortable {
    padding: 0;
}

ol.sortable,
ol.sortable ol {
    list-style: none;
    margin: 0;
    text-align: left;
}

ol.sortable ol {
    padding-left: 30px;
}

ol.sortable li {
    /*border-bottom: solid 1px #ddd;*/
}

ol.sortable li div {
    line-height: 40px;
    margin: 0 0 1px;
    /*border-bottom: 1px solid #E9E9E9;*/
}

ol.sortable li div .sort {
    cursor: move;
    float: left;
    width: 40px;
    text-align: center;
}

.highlight {
    background-color: #FFFF00;
}

ol.sortable li div:hover {
    background-color: #f5f5f5;
}

ol.sortable .odd {
    background-color: #f9f9f9;
}

.table th.actions {
    width:160px;
}

.action-buttons {
	float:right;
	width: 140px;
}

.action-buttons a:hover,
.action-buttons a:focus {
	text-decoration: none;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 1px;
}